{% extends 'base.html' %}

{% block title %}
Золотое кольцо России
{% endblock %}

{% block content %}
<h2>{{ attraction.attraction_name }}</h2>
    <img src="{{ url_for('static', filename='img/' + attraction.photo) }}" class="card-img-top img-fluid"  alt="{{ attraction.attraction_name }}" >
    
    
    <div id="map" style="width:500px; height:400px"></div>
    <script type="text/javascript">
        var map;
  
        DG.then(function () {
            // Используем parseFloat для преобразования Jinja2-переменных в числа
            var latitude = parseFloat("{{ coordinates.latitude }}");
            var longitude = parseFloat("{{ coordinates.longitude }}");
  
            map = DG.map('map', {
                center: [latitude, longitude], // Используем числовые значения
                zoom: 13
            });
  
            DG.marker([latitude, longitude]).addTo(map).bindPopup('{{ attraction.attraction_name}}');
        });
    </script>
    
    <p class="about">{{ attraction.description }}</p>

    
    <form action="{{ url_for('add_to_favorites', attraction_id=attraction.attraction_id) }}" method="POST">
        <button type="submit" class="btn btn-primary mt-3">Добавить в избранное ❤️</button>
    </form>
    
    

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <form method="post" class="comment-container">
        <input type="text" name="comment" placeholder="Оставить комментарий" class="comment-form"><br>
        <button class="btn btn-success" type="submit" >Отправить</button>
    </form>


    
    
    <div class="comments-section">
        <div>
            <p style="font-size: 20px;">Комментариев: {{ comments|length }}</p>
        </div>
        {% for feedback, username in comments %}
          <div class="comment">
            <div class="comment-username">{{ username }}</div>
            <div class="comment-text">{{ feedback.comment }}</div>
            {% if current_user.is_authenticated and current_user.email == 'admin@mail.ru' %}
              <form action="{{ url_for('delete_feedback', feedback_id=feedback.feedback_id) }}" method="POST" style="display:inline;">
                  <button type="submit" class="btn btn-danger">Удалить</button>
              </form>
            {% endif %}
          </div>
        {% endfor %}
    </div>
    


{% endblock %}