{% extends 'base.html' %}

{% block title %}
Забыли пароль
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-5">Забыли пароль?</h2>
    <form action="{{ url_for('forgot_password') }}" method="POST" class="mt-4">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            var flashes = document.querySelectorAll('.flashes li');
            flashes.forEach(function(flash) {
                flash.style.display = 'none';
            });
        }, 3000); //3 секунды
    });
</script>
{% endblock %}