{% extends 'base.html' %}

{% block title %}
Золотое кольцо России
{% endblock %}

{% block content %}
<style>
   
    .links {
        margin-top: 20px;
        text-align: center;
    }

    .links a {
        display: block;
        margin: 10px 0;
        color: #007bff;
        text-decoration: none;
    }

    .links a:hover {
        text-decoration: underline;
    }

    .flashes {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.flashes li {
    list-style: none;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    opacity: 0.9;
    animation: fadeOut 5s forwards;
}

.flashes .success {
    background-color: #28a745;
}

.flashes .warning {
    background-color: #ffc107;
}

.flashes .danger {
    background-color: #dc3545;
}

@keyframes fadeOut {
    0% { opacity: 0.9; }
    90% { opacity: 0.9; }
    100% { opacity: 0; display: none; }
}
</style>

<div class="container">
    <h2 class="mt-5">Вход в личный кабинет</h2>

    <form action="{{ url_for('login') }}" method="POST" class="mt-4">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    <div class="links">
        <a href="{{ url_for('forgot_password') }}">Забыли пароль?</a>
        <a href="{{ url_for('register') }}">Ещё нет аккаунта? Зарегистрируйтесь!</a>
    </div>
    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            var flashes = document.querySelectorAll('.flashes li');
            flashes.forEach(function(flash) {
                flash.style.display = 'none';
            });
        }, 3000); //3 секунды
    });
</script>
{% endblock %}