{% extends 'base.html' %}

{% block title %}
Золотое кольцо России
{% endblock %}

{% block content %}
<style>
   
    .links {
        margin-top: 20px;
        text-align: center;
    }

    .links a {
        display: block;
        margin: 10px 0;
        color: #007bff;
        text-decoration: none;
    }

    .links a:hover {
        text-decoration: underline;
    }
</style>
<div class="container">
    <h2>Регистрация</h2>
    <form method="POST">
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="password2">Подтвердите пароль</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>

    <div class="links">
        <a href="{{ url_for('login') }}">Уже есть аккаунт? Войдите!</a>
        
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            var flashes = document.querySelectorAll('.flashes li');
            flashes.forEach(function(flash) {
                flash.style.display = 'none';
            });
        }, 3000); //3 секунды
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}